.aboutImage {
    width: 100%;
    height: 100px;
    object-fit: contain;
    transition: 0.2s;
}
.aboutImage:hover {
    transform: scale(1.5);
}
.desktopDesign {
    display: none;
}
.mobileDesign {
    display: inline-block;
}
@media only screen and (min-width: 700px) {
    .desktopDesign {
        display: block;
    }
    .mobileDesign {
        display: none;
    }
}