.miniLogo {
  width: 32px;
  cursor: pointer;
  transition: 0.5s;
  padding: 5px;
}
.miniLogo:hover {
  width: 42px;
  padding: 0;
}
.spinAnimation {
  animation-name: spin;
  animation-duration: 1s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
