.navbar {
  height: 64px;
  background-color: white;
  box-shadow: 0 0 5px 0 gray;
  display: flex;
  justify-content: center;
}
.navbarContents {
  display: flex;
  align-items: center;
  gap: 1rem;
}
