.miniAbout {
    position: static;
}
.bodyContent {
    display: block;
}
.footerContent {
    text-align: center;
}
@media only screen and (min-width: 700px) {
    .miniAbout {
        position: absolute;
        top: 15%;
        left: 15%;
        width: 35vw;
    }
    .footerContent {
        text-align: left;
    }
}