.myNavbar {
    box-shadow: 5px 10px 18px #CCCCCC;
    margin-bottom: 50px;
    padding: 1vh;
}
.myNavbar .btn.btn-link {
    color: black;
}
.myNavbar .about {
    padding-left: 5vw;
}
.myNavbar .resume {
    padding-right: 5vw;
}