.imagesContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5vw;
  row-gap: 1rem;
  justify-content: center;
}
.image {
  width: max(20vw, 200px);
  height: max(20vw, 200px);
  object-fit: cover;
}
