.myCard {
    margin: 5px;
    transition: 0.2s;
}
.myCard:hover {
    transform: scale(1.05);
}
.myCard .card-button{
    text-align: center;
}
.cardImage {
    height: 150px;
    width: 100%;
    object-fit: none;
}